<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid"></div>
    <center>
        <h1 class="bg-light">Bollywood Acters</h1>
    </center><br><br>
    <div class="row">
        <div class="card mx-4" style="width: 25rem;">
            <img src="../templates/th.jpeg" class="card-img-top">
            <div class="card-body bg-light">
                <h5 class="card-title">Sidharth Malhotra</h5>
                <p class="card-text"> born 16 January 1985 is an
                    Indian actor who works in Hindi films. He began his career as a fashion model, but left it to pursue
                    acting as an assistant director to Karan Johar in My Name Is Khan (2010). He had his first lead role
                    in Johar's teen film Student of the Year (2012).</p>
            </div>
        </div>
        <div class="card mx-4" style="width: 25rem;">
            <img src="../templates/wp2071730.webp" class="card-img-top" style="height: 210px;">
            <div class="card-body bg-light">
                <h5 class="card-title">Varun Dhawan</h5>
                <p class="card-text"> born 24 April 1987 is an
                    Indian actor who works in Hindi films. One of India's highest-paid actors, he has been featured in
                    Forbes India's Celebrity 100 list since 2014. He has starred in 11 consecutive box-office successes
                    between 2012 and 2018</p>
            </div>
        </div>
        <div class="card mx-4" style="width: 25rem;">
            <img src="../templates/Bollywod-Actor-aditya-roy-kapoor-latest-wallpaper-in-full-hd-1080p-free.jpg"
                class="card-img-top" style="height: 210px;">
            <div class="card-body bg-light">
                <h5 class="card-title">Aditya Roy Kapur</h5>
                <p class="card-text"> born 16 November 1985 is an Indian actor who works in Hindi
                    films. After working as a VJ, he made his acting debut with the musical drama London Dreams (2009).
                    Kapur had his first commercial success with the romance Aashiqui 2 (2013). </p>
            </div>
        </div>
        <div class="row">
            <div class="card mx-4 mt-5" style="width: 25rem;">
                <img src="../templates/shraddha_kapoor_1664006682062_1664006688467_1664006688467.avif"
                    class="card-img-top" style="height: 210px;">
                <div class="card-body bg-light">
                    <h5 class="card-title">Shraddha Kapoor</h5>
                    <p class="card-text"> born 3 March 1987 is an Indian actress who primarily works
                        in Hindi films. One of India's highest-paid actresses, Kapoor has been featured in Forbes
                        India's Celebrity 100 list since 2014 and was featured by Forbes Asia in their 30 Under 30 list
                        of 2016.</p>
                </div>
            </div>
            <div class="card mx-4 mt-5" style="width: 25rem;">
                <img src="../templates/Kriti-Sanon-Wallpaper-45901.jpg" class="card-img-top">
                <div class="card-body bg-light">
                    <h5 class="card-title">Kriti Sanon </h5>
                    <p class="card-text">born 27 July 1990 is an Indian actress who works in Hindi and
                        Telugu-language films. She has received a National Film Award and two Filmfare Awards, and has
                        appeared in Forbes India's Celebrity 100 list of 2019.</p>
                </div>
            </div>
            <div class="card mx-4 mt-5" style="width: 25rem;">
                <img src="../templates/" class="card-img-top">
                <div class="card-body bg-light">
                    <h5 class="card-title">Deepika Padukone</h5>
                    <p class="card-text"> born 5 January 1986 is an
                        Indian actress who works predominantly in Hindi films. She is India's highest-paid actress, as
                        of 2023, and her accolades include three Filmfare Awards. She features in listings of the
                        nation's most popular personalities; Time named her one of the 100 most influential people in
                        the world in 2018 and awarded her the Time100 Impact Award in 2022.</p>
                </div>
            </div>
        </div>
</body>

</html>